BR2_riscv=y
BR2_riscv_custom=y
BR2_RISCV_ISA_RVM=y
BR2_RISCV_ISA_RVA=y
BR2_RISCV_ISA_RVF=y
BR2_RISCV_ISA_RVD=y
BR2_TOOLCHAIN_BUILDROOT_MUSL=y
BR2_KERNEL_HEADERS_5_10=y
BR2_BINUTILS_VERSION_2_45_X=y
BR2_GCC_VERSION_15_X=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_SHARED_STATIC_LIBS=y
BR2_SSP_NONE=y
BR2_PACKAGE_XZ=y
BR2_PACKAGE_ZSTD=y
BR2_PACKAGE_QT6=y
BR2_PACKAGE_QT6BASE_CONCURRENT=y
BR2_PACKAGE_QT6BASE_DBUS=y
BR2_PACKAGE_QT6BASE_XCB=y
BR2_PACKAGE_QT6BASE_DEFAULT_QPA="xcb"
BR2_PACKAGE_QT6BASE_FONTCONFIG=y
BR2_PACKAGE_QT6BASE_HARFBUZZ=y
BR2_PACKAGE_QT6BASE_GIF=y
BR2_PACKAGE_QT6BASE_JPEG=y
BR2_PACKAGE_QT6BASE_PNG=y
BR2_PACKAGE_QT6BASE_WIDGETS=y
BR2_PACKAGE_QT6BASE_PRINTSUPPORT=y
BR2_PACKAGE_QT6BASE_TEST=y
BR2_PACKAGE_QT6BASE_XML=y
BR2_PACKAGE_QT6DECLARATIVE=y
BR2_PACKAGE_QT6DECLARATIVE_QUICK=y
BR2_PACKAGE_QT6SVG=y
BR2_PACKAGE_QT6WEBSOCKETS=y
BR2_PACKAGE_KF6=y
BR2_PACKAGE_KF6_KCOREADDONS=y
BR2_PACKAGE_KF6_THREADWEAVER=y
BR2_PACKAGE_KF6_KCONFIGWIDGETS=y
BR2_PACKAGE_KF6_KCODECS=y
BR2_PACKAGE_KF6_KCONFIG=y
BR2_PACKAGE_KF6_KGUIADDONS=y
BR2_PACKAGE_KF6_KI18N=y
BR2_PACKAGE_KF6_KWIDGETSADDONS=y
BR2_PACKAGE_KF6_KCOLORSCHEME=y
BR2_PACKAGE_KF6_KITEMVIEWS=y
BR2_PACKAGE_KF6_KITEMMODELS=y
BR2_PACKAGE_KF6_KIO=y
BR2_PACKAGE_KF6_KSERVICE=y
BR2_PACKAGE_KF6_SOLID=y
BR2_PACKAGE_KF6_KCRASH=y
BR2_PACKAGE_KF6_KWINDOWSYSTEM=y
BR2_PACKAGE_KF6_KBOOKMARKS=y
BR2_PACKAGE_KF6_KCOMPLETION=y
BR2_PACKAGE_KF6_KICONTHEMES=y
BR2_PACKAGE_KF6_KARCHIVE=y
BR2_PACKAGE_KF6_KJOBWIDGETS=y
BR2_PACKAGE_KF6_KNOTIFICATIONS=y
BR2_PACKAGE_KF6_KDBUSADDONS=y
BR2_PACKAGE_KF6_KPARTS=y
BR2_PACKAGE_KF6_KXMLGUI=y
BR2_PACKAGE_KF6_KDDOCKWIDGETS=y
BR2_PACKAGE_KF6_KGLOBALACCEL=y
BR2_PACKAGE_XORG7=y
BR2_PACKAGE_XLIB_LIBFS=y
BR2_PACKAGE_XLIB_LIBXSCRNSAVER=y
BR2_PACKAGE_XLIB_LIBXAW=y
BR2_PACKAGE_XLIB_LIBXCOMPOSITE=y
BR2_PACKAGE_XLIB_LIBXCURSOR=y
BR2_PACKAGE_XLIB_LIBXDAMAGE=y
BR2_PACKAGE_XLIB_LIBXFONT=y
BR2_PACKAGE_XLIB_LIBXFONT2=y
BR2_PACKAGE_XLIB_LIBXFT=y
BR2_PACKAGE_XLIB_LIBXINERAMA=y
BR2_PACKAGE_XLIB_LIBXPRESENT=y
BR2_PACKAGE_XLIB_LIBXRES=y
BR2_PACKAGE_XLIB_LIBXTST=y
BR2_PACKAGE_XLIB_LIBXVMC=y
BR2_PACKAGE_XLIB_LIBXXF86DGA=y
BR2_PACKAGE_XLIB_LIBXXF86VM=y
BR2_PACKAGE_XLIB_LIBDMX=y
BR2_PACKAGE_XLIB_LIBXCVT=y
BR2_PACKAGE_XLIB_LIBXKBFILE=y
BR2_PACKAGE_XLIB_LIBXSHMFENCE=y
BR2_PACKAGE_LIBCANBERRA=y
BR2_PACKAGE_OPENSSL=y
BR2_PACKAGE_JPEG_TURBO=y
BR2_PACKAGE_ELFUTILS=y
BR2_PACKAGE_ELFUTILS_LIBDEBUGINFOD=y
BR2_PACKAGE_UTIL_LINUX=y
BR2_PACKAGE_UTIL_LINUX_LIBMOUNT=y
# BR2_TARGET_ROOTFS_TAR is not set
BR2_PACKAGE_HOST_QT6TOOLS_LINGUIST_TOOLS=y
